@font-face {
    font-family: "roboto-regular";
    src: url("fonts/Roboto-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "roboto-medium";
    src: url("fonts/Roboto-Medium.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "roboto-bold";
    src: url("fonts/Roboto-Bold.ttf");
    font-weight: normal;
}

:root {
    --white: #f9f9f9;
    --black: #080808;
    --orange: #e58d41;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: var(--white);
    font-family: "roboto-regular";
}

/* header */

header {
    display: block;
    border-top: 2px solid var(--orange);
}

/* Logo */

.logo {
    margin: auto;
    max-width: 1280px;
    text-align: center;
    padding: 2%;
}

.logo img {
    width: 15%;
}

/* Hamburger Menu */


/* Style label tag */
.hamb {
    display: none;
}


/* Hide checkbox */
.side-menu {
    display: none;
}


/* Navigation bar */

.nav {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: center;
    border-top: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    max-height: none;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

li {
    padding: 0 24px;
}

li a {
    color: #080808;
    text-transform: uppercase;
    font-family: "roboto-bold";
}

li a:hover {
    color: var(--orange);
}

.active-link {
    color: var(--orange);
}

/* Image Slider */

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

.slider,
.content,
.image-showcase,
.gallery,
.history,
.description {
    padding: 24px 0;
}

.slider img {
    width: 100%;
}

/* Main Page Content */

.intro {
    padding: 24px 70px;
    font-family: "roboto-regular";
}

h1,
h2 {
    text-align: center;
    padding-bottom: 12px;
    font-weight: normal;
    font-size: 40px;
}

hr {
    border-bottom: 2px solid var(--black);
    margin: auto;
    width: 20px;
}

.content {
    font-family: "roboto-regular";
    color: var(--black);
    line-height: 24px;
    letter-spacing: 0.025em;
    font-weight: normal;
    font-size: 16px;
}

.intro-img {
    float: right;
    width: 365px;
    margin-left: 1em;
}

.content>p,
.description>p {
    padding: 6px 0;
}

.btn {
    display: flex;
    justify-content: center;
}

button {
    padding: 12px 30px;
    border: 1px solid var(--black);
    color: var(--black);
    background-color: transparent;
    font-family: "roboto-bold";
}

/* Image Showcase */

.image-showcase {
    display: block;
    width: 100%;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery>img {
    margin: 8px 40px;
    width: 200px;
    border-radius: 999px;
}

/* History */

.description {
    font-family: "roboto-regular";
    color: var(--black);
    line-height: 24px;
    font-weight: normal;
    font-size: 16px;
}

/* Footer */

footer {
    border-top: 2px solid var(--black);
    padding: 0 2%;
}

.detail {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    padding: 6px 0;
}

.detail>span {
    font-family: "roboto-regular";
    font-weight: normal;
    font-size: 14px;
    display: flex;
    align-items: center;
}

span>img {
    margin-right: 4px;
    width: 14px;
}

.company-name {
    color: var(--orange);
    text-decoration: none;
    margin-left: 4px;
}

@media only screen and (max-width: 768px) {
    header {
        position: sticky;
        top: 0;
        background-color: var(--white);
        width: 100%;
    }

    .nav-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        margin: 0;
        text-align: start;
        padding: 3% 2%;
    }

    .logo img {
        width: 40%;
    }

    .hamb {
        display: block;
        cursor: pointer;
        padding: 3% 2%;
    }

    /* Style span tag */
    .hamb-line {
        background: var(--black);
        display: none;
        height: 2px;
        position: relative;
        width: 20px;
    }

    .hamb-line::before,
    .hamb-line::after {
        background: var(--black);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    .hamb-line::before {
        top: 5px;
    }

    .hamb-line::after {
        top: -5px;
    }

    .nav {
        width: 100%;
        height: 100%;
        position: fixed;
        overflow: hidden;
        display: block;
        top: 70px;
        background: var(--white);
        border: 0;
        margin: 0;
        text-align: center;
        max-width: none;
        max-height: 0;
        transition: max-height .5s ease-out;
    }

    ul {
        display: block;
    }

    nav ul li {
        margin: 50px 0;
        line-height: 30px;
    }

    /* Toggle menu icon */
    .side-menu:checked~.nav {
        max-height: 100%;

    }

    .side-menu:checked~body::-webkit-scrollbar {
        display: none;
    }

    .side-menu:checked~.hamb {
        padding: 3% 2%;
    }

    .side-menu:checked~.hamb>img {
        display: none;
    }

    .side-menu:checked~.hamb .hamb-line {
        background: transparent;
        display: block;
    }

    .side-menu:checked~.hamb .hamb-line::before {
        transform: rotate(-45deg);
        top: 0;
    }

    .side-menu:checked~.hamb .hamb-line::after {
        transform: rotate(45deg);
        top: 0;
    }

    .container {
        padding: 0 2%;
    }

    .slider {
        padding: 0;
    }

    .intro {
        padding: 24px 0;
    }

    .intro-img {
        width: 50%;
    }

    .gallery>img {
        margin: 16px;
        width: 160px;
    }
}

@media only screen and (max-width: 600px) {

    h1,
    h2 {
        font-size: 30px;
    }

    .content,
    .description {
        font-size: 14px;
    }

    .gallery>img {
        width: 140px;
    }

    .detail {
        line-height: 16px;
    }

    .detail>span {
        font-size: 12px;
    }
}